# Summer - Fall 2023

In [ ]:
#importing packages
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import pycmap
import ipywidgets

In [3]:
#setting up CMAP API
api = pycmap.API(token ='886b8a3a-4926-4e40-be6f-f8c35cd560d8', vizEngine = 'plotly')
# api.datasets()

## Sorting CMAP Data

In [33]:
# get dataframe of all variables measured in gradients cruises

cruises = ['KOK1606', 'MGL1704', 'KM1906']

# instantiate empty dataframe
catalog_df = pd.DataFrame()
# iterate through cruises
for cruise in cruises:
    # pull catalog of all variables connected to each cruise
    df = api.search_catalog(cruise)
    #check to see if the catalog_df dataframe is empty
    if len(catalog_df) == 0:
        #if it is empty, set catalog_df to the result of the first api search result (first loop)
        catalog_df = df
    else:
        #if it isn't empty, stitch the result of api search (other loops) onto the end of the previously constructed dataframe
        catalog_df = pd.concat([catalog_df, df])
# reset index of concatenated dataframe
catalog_df = catalog_df.reset_index(drop=True)

catalog_df

#this dataframe is a fixed file of all the variables in the three gradients cruises

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Unstructured_Dataset_Metadata,Unstructured_Variable_Metadata
0,castno,tblKOK1606_Gradients1,Cast Number,NaN,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,http://scope.soest.hawaii.edu/data/gradients/d...,"Angel White Lab, University of Hawaii at Manoa",This dataset contains water column data collec...,These Simons Collaboration on Ocean Processes ...,504,8847,NaN,"Angel White, CTD, equator, G1, Ginger Armbrust...",NaN,NaN
1,chla,tblKOK1606_Gradients1,Fluorometric Chlorophyll a,ug/l,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,http://scope.soest.hawaii.edu/data/gradients/d...,"Angel White Lab, University of Hawaii at Manoa",This dataset contains water column data collec...,These Simons Collaboration on Ocean Processes ...,504,8857,1.0,"Angel White, chlorophyll, CTD, equator, G1, Gi...",NaN,NaN
2,chla_flag,tblKOK1606_Gradients1,Fluorometric Chlorophyll a Quality Flag,NaN,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,http://scope.soest.hawaii.edu/data/gradients/d...,"Angel White Lab, University of Hawaii at Manoa",This dataset contains water column data collec...,These Simons Collaboration on Ocean Processes ...,504,8865,NaN,"Angel White, chlorophyll, CTD, equator, G1, Gi...",NaN,NaN
3,ctdchl,tblKOK1606_Gradients1,CTD Chloropigment,ug/l,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,http://scope.soest.hawaii.edu/data/gradients/d...,"Angel White Lab, University of Hawaii at Manoa",This dataset contains water column data collec...,These Simons Collaboration on Ocean Processes ...,504,8853,1.0,"Angel White, CTD, equator, G1, Ginger Armbrust...",NaN,NaN
4,ctdchl_flag,tblKOK1606_Gradients1,CTD Fluorescence Quality Flag,NaN,Observation,CTD,Reprocessed,Biogeochemistry,Irregular,Irregular,...,http://scope.soest.hawaii.edu/data/gradients/d...,"Angel White Lab, University of Hawaii at Manoa",This dataset contains water column data collec...,These Simons Collaboration on Ocean Processes ...,504,8861,NaN,"Angel White, CTD, equator, G1, Ginger Armbrust...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,PAR,tblKM1906_Gradients_3_Wirewalker,"Photosynthetically available radiation, downwa...",Âµmol m-2 s-1,Observation,Radiometer,Reprocessed,Uncategorized,1/6 s,Irregular,...,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,254,3433,1.0,"autonomous, downward cosine irradiance, drifte...",NaN,NaN
914,potential_density_anomaly,tblKM1906_Gradients_3_Wirewalker,Potential density anomaly wrt 0 db,kg m-3,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,254,3429,1.0,"autonomous, drifter, Gradients3, in-situ, Karl...",NaN,NaN
915,practical_salinity,tblKM1906_Gradients_3_Wirewalker,Practical salinity,NaN,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,254,3428,1.0,"autonomous, drifter, Gradients3, in-situ, Karl...",NaN,NaN
916,pressure,tblKM1906_Gradients_3_Wirewalker,Pressure,db,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,254,3424,1.0,"autonomous, drifter, Gradients3, in-situ, Karl...",NaN,NaN
917,temperature,tblKM1906_Gradients_3_Wirewalker,Temperature,Â°C,Observation,CTD,Reprocessed,Physics,1/6 s,Irregular,...,"University of Hawaii, Manoa",NaN,The Wirewalker is a wave-powered drifting pro...,We thank the SCOPE operation team for data col...,254,3425,1.0,"autonomous, drifter, Gradients3, in-situ, Karl...",NaN,NaN

In [48]:
# look how many unique variables we have, count their frequency

# count how many times each variable shows up in catalog_df
var_df = catalog_df['Variable'].value_counts().reset_index()

var_df

            Variable  count
0            station     12
1               cast     11
2                sal      8
3               temp      8
4    biomass_picoeuk      7
..               ...    ...
479            lu412      1
480      light_level      1
481             kpar      1
482              flu      1
483         pressure      1

[484 rows x 2 columns]

In [39]:
#grouping the catalog by variable
cat_gr_df = catalog_df.groupby('Variable')

cat_gr_df.get_group('NO3_NO2')

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Unstructured_Dataset_Metadata,Unstructured_Variable_Metadata
44,NO3_NO2,tblKOK1606_Gradients1_Nutrients,Dissolved Nitrate plus Nitrite,umol/L,Observation,Autoanalyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,"University of Hawaii - Manoa, David Karl lab","University of Hawaii - Manoa, David Karl lab",All organic and inorganic nutrients are analyz...,NaN,568,11455,1.0,"2016, Autoanalyzer, Biogeochemistry, Core Data...",NaN,NaN
483,NO3_NO2,tblMGL1704_Gradients2_Nutrients,Dissolved Nitrate plus Nitrite,umol/L,Observation,Autoanalyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,"University of Hawaii - Manoa, David Karl lab",Ingalls Lab - University of Washington,All organic and inorganic nutrients are analyz...,"University of Hawaii - Manoa, David Karl lab. ...",577,11521,1.0,"2017 SCOPE Gradients, Autoanalyzer, Biogeochem...",NaN,NaN

In [70]:
#turning grouped dataframe into a csv
# groupframe = cat_gr_df.apply(lambda x: x) 
# groupframe.to_csv('/Users/jonahvalenti/Documents/armbrust_lab_stuff/Syn-Cluster-Armbrust/data/NGD/groupedg123nutr.csv', index = False)

In [60]:
#making a function to group the catalog by variable
def quantify(df, column, entry):
    #making a function with three inputs: dataframe, column in the dataframe to group by, group to find
    df2 = df.groupby(column)
    #making a new dataframe out of the grouped dataframe
    display(df2.get_group(entry))
    #displaying a specific group (entry) of the new dataframe

In [61]:
#testing function
quantify(catalog_df, 'Variable', 'NH4')

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords,Unstructured_Dataset_Metadata,Unstructured_Variable_Metadata
43,NH4,tblKOK1606_Gradients1_Nutrients,Ammonium,umol/L,Observation,Autoanalyzer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,"University of Hawaii - Manoa, David Karl lab","University of Hawaii - Manoa, David Karl lab",All organic and inorganic nutrients are analyz...,NaN,568,11454,1.0,"2016, Ammonia, Ammonium, Autoanalyzer, Biogeoc...",NaN,NaN
827,NH4,tblKM1906_Gradients3_Organic_Inorganic_Nutrients,Ammonium,umol/L,Observation,fluorometer,Reprocessed,Biogeochemistry,Irregular,Irregular,...,"Dave Karl Lab, University of Hawaii at Manoa","Dave Karl Lab, University of Hawaii at Manoa","""This dataset is from the Gradients 3 cruise (...","SCOPE-Gradients program, University of Hawaii,...",538,10994,1.0,"2019 SCOPE Gradients, Ammonium, Core Data, cru...",NaN,NaN

In [ ]:
# var_df.set_index("Variable", inplace = True)


# var_df.loc("station")